.service-card {
    border: 1px solid rgb(58, 2, 49);
    box-shadow: 0 0 10px rgba(94, 4, 102, 0.508);
    height: 100%;
    display:flexbox;
    flex-direction: row;
    background-color: #320b55ed;
  }

  .service-img {
    background-color: rgb(164, 124, 201);
    width: 100%;
    height: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
  
  }

  .service-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .service-details {
    padding: 10px;
    flex-grow: 1;
    /* display: flex; */
    flex-direction: row;
   
  }

  .service-title {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 5px;
    color: azure;
  }

  .service-price {
    font-size: 18px;
    margin-bottom: 5px;
    margin-top:5px;
    color: azure;
  }

  .service-actions {
    /* display: flex; */
    justify-content: space-between;
    align-items: center;
    margin-top: 5px;
  }

  .container-fluid {
    padding: 0 10px;
  }

  .row {
    display: flex;
    flex-wrap: wrap;
    margin: -10px;
  }

  .col-lg-4,
  .col-md-6,
  .col-sm-12 {
    padding: 15px;
    width: 100%;
    max-width: 22.33%;
  }